* {
    background: black;
}

.grid {
    height: 100vh;
    width: 100vw;
    aspect-ratio: 1 / 1;
    width: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    .field {
        color: white;
        border: white 1px solid;
    }
}